<launch>

    <arg name="config_file" default="$(find legkilo)/config/leg_fusion.yaml"/>

    <node pkg="legkilo" type="legkilo_node" name="legkilo_node" output="screen"
        args="--config_file=$(arg config_file)" />
    
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find legkilo)/rviz/legkilo_robot.rviz" />

    <param name="robot_description" textfile="$(find legkilo)/robot_urdf/go2_description/urdf/go2.urdf"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="1000.0"/>
    </node>
    
    launch-prefix="gdb -ex run --args"
</launch>
